/*body > *, body > * > *, body > * > * > *, body > * > * > * > * {
  background: #ffffff40 !important;
  
}*/

a:link, a:visited {
    color: #0088ff;
  }
  
  a:link:hover, a:visited:hover {
    color: #88aaff;
  }
  
  h1, h2, h3 {
    color: #0088ff !important;
  }
  
  h3:hover {
    color: #88aaff !important;
  }
  
  div.left {
    background-color: #ddd;
    border: 1px solid black;
  }
  
  body {
    font-family: "Comic Sans MS";
    background: url("https://i.imgur.com/PNOl2L9.png");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .topbar {
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: #b9d8e4;
    color: black;
    margin-bottom: 25vw;
  }
  
  html body div.container.topbar div.hidden-xs.hidden-sm.welcomeback a, html body div.container.topbar ul.toplinks li a {
    color: black;
    transition: color 0.1s ease-in-out;
  }
  
  html body div.container.topbar div.hidden-xs.hidden-sm.welcomeback a:hover, html body div.container.topbar ul.toplinks li a:hover {
    color: #008888;
  }
  
  div.container.main {
    border-radius: 1rem;
  }
  
  html body div.main div.row:nth-of-type(2) {
    background-color: transparent;
    background: linear-gradient(90deg, transparent 75%, #b9d8e4 90%);
  }
  
  nav {
    background-color: #b9d8e4 !important;
    border-radius: 1rem 1rem 0rem 0rem !important;
  }
  
  img[alt="Lioden"] {
    filter: grayscale(10) brightness(1.5);
  }
  
  ul.nav > li > a {
    color: black !important;
  }
  
  ul.nav > li > a:hover {
    background: linear-gradient(180deg, white, transparent) !important;
  }
  
  table {
    border: none !important;
    border-radius: 1rem !important;
    overflow: hidden !important;
  }
  
  .table .top, th {
    background-color: #5D808E !important;
  }
  
  td.bottom {
    background-color: #ddd !important;
    color: black !important;
  }
  
  td.left {
    background-color: #b9d8e4 !important;
  }
  
  html body div.container.main div.row div.col-md-9.col-xs-12 center table#about.table tbody tr.right td.right table.inner-table.auto tbody tr td.right,
  html body div.container.main div.row div.col-md-9.col-xs-12 center table#player.table tbody tr.right td.right table.inner-table.auto tbody tr td.right{
    background-color: #ddd !important;
  }
  
  #lion_image > div > img {
    border-radius: 50%;
  }
  
  .item-header {
    background-color: #acf;
    color: black;
  }
  
  .item.center {
    border: 1px solid black;
  }
  
  input[type="submit"] {
    background: #bde;
    border: 1px solid black;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    text-shadow: none;
    color: black;
  }

  input[type="submit"]:hover {
    background: #acf;
    border: 1px solid black;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    text-shadow: none;
    color: black;
  }

html body div.container.footer.center.white.visible-lg.visible-md.visible-sm,
html body div.container.footer.center.white.visible-lg.visible-md.visible-sm > ul,
html body div.container.footer.center.white.visible-lg.visible-md.visible-sm > ul > li,
html body div.container.footer.center.white.visible-lg.visible-md.visible-sm > ul > li > a {
  background: none !important;
  color: transparent;
  text-shadow: none;
  border: none !important;
}

.bordered {
  border: 1px solid black;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
